body{
    font-family: "Open Sans", sans-serif;
}

.container{
    margin: 0 auto;
    width: 600px;
}
@media (max-width:767px) {
    .container{
        max-width: 100%;
    }
}
.form{
    background-color: #eee;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 6px;
    align-items: center;
    margin-bottom: 10px;
}
.form .input{
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
}
.form .input:focus{
    outline: none;
}
.form .add{
    background-color: red;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.tasks{
    padding: 20px;
    background-color: #eee;
    border-radius: 6px;
}